body {
    background-color: #212529;
    color: #f8f9fa;
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}

#project-name {
    background-color: black;
    padding: 0.1 1rem;
}

#configurator {
    margin-top: 1rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

#inputs {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.input-item {
    color: #888;
    padding: 1rem;
    border: 1px solid #888;
    cursor: pointer;
}

.input-item.selected {
    background-color: #FF5722;
    color: #f8f9fa;
}

#controls {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}